
body {background-color:#808080;
}
*{margin:0px;padding:0px;}

#TopNav{ width:950px; margin:0px auto; background-color:#808080;}

#h2{color:gold;}

#footer{width:1000px;margin:0px auto;background-color:#808080;
    height: 81px;
}

#Second{width:1000px;margin:0px auto;}
p{color:gold;}

#tr{width:800px;margin: 0px auto;}

#TopNav ul{list-style:none;
    height: 40px;
}
#TopNav ul li{background-color:blue;border:solid 1px #808080;width:120px;height:35px;text-align:center;line-height:35px;float:left;position:relative;border-radius:10px;}

#TopNav ul li a{text-decoration:none;color:#fff;display:block;}

#TopNav ul li a:hover{background-color:#ff6a00; color:white;border-radius:10px;}

#TopNav ul ul{position:absolute;display:none;}

#TopNav ul li> ul li{background-color:#18e27f;color:#edeef8;border:solid 1px #808080;border-radius:10px;}

#Topav ul li:hover > ul{display:block; border-radius:10px;}

#MiddleNav{width:1000px; margin:0px auto;}

#Wrapper{width:1024px;
margin:0px auto;
}

#footer{
	background-color:orange; height:18px;
}




/* Text Elements */

p			{ color:#000; font-size:12px; line-height:150%; }
p.left		{ margin:1.5em 1.5em 1.5em 0; padding:0; }
p.right		{ margin:1.5em 0 1.5em 1.5em; padding:0; }

a			{  }
a:link		{ color:#00f; }
a:visited	{ color:#0f0; }
a:active	{ color:#000; }
a:focus		{ color:#666; }
a:hover		{ color:white; }

blockquote 	{ color:#000; font-size:12px; }
strong	 	{ font-weight:bold; }
em			{ font-style:italic; }

h1,h2,h3,h4,h5,h6 { font-weight:bold; color:#000; }

h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:16px; }
h4 { font-size:14px; }
h5 { font-size:14px; }
h6 { font-size:14px; }
